[Unit]
Description=multicast deb installer

[Service]
Type=oneshot
ExecStart=/usr/share/multicastfiletransferclient/debmulticastscript %I
StandardOutput=append:/tmp/debmulticastscript.log
StandardError=append:/tmp/debmulticastscript.log

[Install]
WantedBy=multi-user.target
