[Unit]
Description=multicastfiletransfer script

[Service]
Type=oneshot
ExecStart=/usr/share/multicastfiletransferclient/scriptmulticastscript %I
StandardOutput=append:/tmp/scriptmulticastscript.log
StandardError=append:/tmp/scriptmulticastscript.log
[Install]
WantedBy=multi-user.target
