[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-shellscript;
Actions=runScript;

[Desktop Action runScript]
Name=Multicast ile Masaüstüne Gönder
Exec=/usr/bin/multicastfiletransferserver --mode rightclick --target desktop %F
Icon=network-transmit
