Package: multicasttransferclient-dbgsym
Source: multicasttransferclient
Version: 1.0.7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 42
Depends: multicasttransferclient (= 1.0.7)
Section: debug
Priority: optional
Description: debug symbols for multicasttransferclient
Build-Ids: e7175e64fb8aadd9826e05803afd2bfa2c09c646
