 [Unit]
Description=multicastfiletransferclient Başlatıldı.
After=multi-user.target

[Service]
Type=simple

ExecStart=/usr/bin/multicastfiletransferclient

[Install]
WantedBy=multi-user.target
