Package: multicasttransferserver-dbgsym
Source: multicasttransferserver
Version: 1.0.7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 43
Depends: multicasttransferserver (= 1.0.7)
Section: debug
Priority: optional
Description: debug symbols for multicasttransferserver
Build-Ids: 39c834792fb682daa7e601028edd5b46b500e7a8
